modules = ["python-3.11", "python3"]

[nix]
channel = "stable-24.05"
packages = ["libsodium", "nettle", "openssh", "openssl"]

[deployment]
run = ["python", "main.py"]

[env]
PYTHONPATH = "."

[packager]
language = "python3"
ignoredPackages = ["discord.py", "discord-py"]

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true
